body {
  font: 14px "Century Gothic", Futura, sans-serif;
  /* margin: 20px; */
  background: rgb(235, 232, 232);
}

ol, ul {
  padding-left: 30px;
}

/* .board-row:after {
  clear: both;
  content: "";
  display: table;
} */

.board-row {
 display: flex;
 flex: 1 1 auto;
 min-width: 80vw;
 justify-content: space-between;
 align-items: center;
}

.refactored-row {
  margin-bottom: 5px;
  /* This is stupid, but what's happening isthe column is centering before the image is resized. this is a hack */
  padding-left: 7%;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  /* border: 1px solid #999; */
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  /* height: 324px; */
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  /* width: 223px; */
  position: relative;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

/* .game {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
} */

.square{
  display: flex;
  margin-bottom: 10px;
}

.game-info {
  margin-left: 20px;
}

/* .square .top-button { */
.higher-button {
  top:0;
  left: 15.5%;
  height: 50%;
  position: absolute; 
  background-color: 'transparent';
  z-index: 10;
  width: 69%;
}

.lower-button {
  bottom:0;
  left: 15.5%;
  height: 50%;
  position: absolute; 
  background-color: 'transparent';
  z-index: 10;
  width: 69%;
}

.square .middle-button {
  /* right: 20px;
  top: 22px;
  width: 66px; */
  left: 20px;
  top: 60px;
  /* float: left; */
  position: absolute;
  /* left: 50%; */
  /* position: relative; */
  /* top: 50%;
    left: 50%; */
}

.square .bottom-button {
  /* right: 20px; */
  /* top: 39px; */
  bottom: 0px;
  left: 30px;
  /* width: 66px; */
  /* float: left; */
  position: absolute;
  /* left: 50%; */
  /* position: relative; */
  /* top: 50%;
    left: 50%; */
}

.infoDiv {
  /* width: 300px; */
  /* max-width: 100%; */
  /* font-size: 12px; */
  font-size: calc(0.2em + 1vmin);
}

.cards-class {
  /* width: 200px; */
  /* max-width: 100%; */
  /* min-width: 80px; */
  /* min-height: 130px; */
  min-width: 15vh;
  max-width: 18vw;
  /* height: 290px; */
  /* max-height: 100%; */
  /* margin-left: 5px;
  margin-right: 5px; */
  /* vertical-align: middle; */
}

.box-game-header{
  font-size: 25px;
}

.game-board {
  display: flex;
  flex: 1 1 auto;
}
